@font-face {
    font-family: 'MontserratExtraBold';
    src: url("../fonts/ofont.ru_Montserrat.ttf");
}

main > .container {
  padding: 60px 15px 0;
}

.headers {
  font-family: "MontserratExtraBold";
}

.test {
    max-width: 400px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.mrg-top-7 {
    margin-top: 7%;
}
