{% extends 'layout/base.html' %}

{% load static %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %} ask {% endblock %}

{% block content %}

    <div class="col-md-9">
        <h1 class="h1 text-center headers mt-5">New question</h1>

         {% for err in form.non_field_errors %}
        <div class="border border-2 border-danger rounded p-3 mb-3">
            <strong>{{ err }}</strong>
        </div>
        {% endfor %}

        <div class="border border-warning rounded p-3 shadow-sm mb-5">

            <form method="post" >

                {% csrf_token %}

                <fieldset>
                    {% for field in form %}
                        <div class="row control-group {% if field.errors %}has-error{% endif %}">
                        <div class="col controls">
                            {% bootstrap_field field show_help=True %}
                        </div>
                        </div>
                    {% endfor %}
                </fieldset>

            <div class="row ms-5 me-5 text-center">
                 <input type="submit" class="btn btn-primary btn-block " value="Ask!"/>
            </div>

            </form>

        </div>
    </div>

{% endblock %}