{% extends 'layout/base.html' %}

{% load static %}

{% block title %} index {% endblock %}

{% block content %}

    <div class="col-md-9">
        <h1 class="h1 text-center headers mt-5">New question</h1>

        <div class="border border-warning rounded p-3">
            <form>
            <div class="mb-3">
                <label for="questionTitle" class="form-label">Title<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="questionTitle" placeholder="title">
            </div>
            <div class="mb-3">
                <label for="questionBody" class="form-label">Text<span class="text-danger">*</span></label>
                <textarea class="form-control" id="questionBody" rows="10"></textarea>
            </div>
            <div class="mb-3">
                <label for="questionTags" class="form-label">Title</label>
                <input type="text" class="form-control" id="questionTags" placeholder="tag1, tag2, tag3...">
            </div>
             <div class="mb-3">
                <input type="submit" class="form-control btn btn-warning"  value="Ask!">
            </div>
            </form>
        </div>
    </div>

{% endblock %}