{% extends 'layout/base.html' %}
{% load i18n %}

{% load static %}

{% block title %} index {% endblock %}

{% block content %}

    <div class="col-md-9 ">

        {% if tag %}
            <h1 class="h2  headers mt-5">{% trans 'Tag:' %} {{ tag.tag_name }}</h1>
        {% elif hot %}
            <h1 class="h1 text-center headers mt-5">{% trans 'Hot Questions' %}</h1>
            <a href="{% url 'index' %}"><h6 class="h6 text-center text-dark-emphasis headers"> {% trans 'New Questions' %} </h6></a>
        {% elif self %}
            <h1 class="h1 text-center headers mt-5">{% trans 'My Questions' %}</h1>
        {% else %}
            <h1 class="h1 text-center headers mt-5">{% trans 'New Questions' %}</h1>
            <a href="{% url 'hot' %}"><h6 class="h6 text-center text-dark-emphasis headers">{% trans  'Hot Questions' %}</h6></a>
        {% endif %}

        {%  for question in items %}

            {% include 'Components/question_item_index.html' %}

        {% endfor %}


    {% include 'Components/paginator.html' %}

    </div>



{% endblock %}

