{% extends 'layout/base.html' %}

{% block content %}

    <div class="row" >
    <div class="col-md-9 ">
        <h1 class="h1 text-center headers mt-5">New Questions</h1>

        {%  for question in questions %}

            {% include 'question-item.html' %}

        {% endfor %}

        <div class="border border-warning rounded mt-5">
            <div class="row">

                <div class="col-3 m-3 d-grid gap-2 justify-content-center text-dark ">
                    <img class="rounded" src="../static/png/default-avatar.png" alt="Avatar" height="150">
                    <button class="btn btn-outline-warning  mt-2" type="submit">
                        <span class="text-dark text-start">Vote</span>
                        <span class="badge bg-warning rounded-pill text-end">14</span>
                    </button>
                </div>

                <div class="col-8 mt-3">
                    <a href="question.html" class="h4 text-center text-primary mt-5">Why Visual studio don't give me an output?</a>
                    <p class="mt-2">
                        i'm newbie in Ruby. Today i was coding some home exercise and founding this behavior of my code:
                        if i try to execute the same code in irb and VSC in second case i don't get a single string of output...
                    </p>
                    <button class="btn btn-warning mrg-top-7" type="submit">
                        <span class=" text-start">Answer</span>
                        <span class="badge bg-body-secondary text-dark rounded-pill text-end">10</span>
                    </button>
                    <ul class="list-group list-group-horizontal float-end mb-3 mrg-top-7">
                        <a href="#" class="list-group-item list-group-item-secondary list-group-item-action">Ruby</a>
                        <a href="#" class="list-group-item list-group-item-secondary list-group-item-action">Visual&nbsp;Studio</a>
                        <a href="#" class="list-group-item list-group-item-secondary list-group-item-action">Microsoft</a>
                    </ul>
                </div>

            </div>
        </div>

        <div class="border border-warning rounded mt-5">
            <div class="row">

                <div class="col-3 m-3 d-grid gap-2 justify-content-center text-dark ">
                    <img class="rounded" src="../static/png/default-avatar.png" alt="Avatar" height="150">
                    <button class="btn btn-outline-warning  mt-2" type="submit">
                        <span class="text-dark text-start">Vote</span>
                        <span class="badge bg-warning rounded-pill text-end">14</span>
                    </button>
                </div>

                <div class="col-8 mt-3">
                    <a href="question.html" class="h4 text-center text-primary mt-5">Why Visual studio don't give me an output?</a>
                    <p class="mt-2">
                        i'm newbie in Ruby. Today i was coding some home exercise and founding this behavior of my code:
                        if i try to execute the same code in irb and VSC in second case i don't get a single string of output...
                    </p>
                    <button class="btn btn-warning mrg-top-7" type="submit">
                        <span class=" text-start">Answer</span>
                        <span class="badge bg-body-secondary text-dark rounded-pill text-end">10</span>
                    </button>
                    <ul class="list-group list-group-horizontal float-end mb-3 mrg-top-7">
                        <a href="#" class="list-group-item list-group-item-secondary list-group-item-action">Ruby</a>
                        <a href="#" class="list-group-item list-group-item-secondary list-group-item-action">Visual&nbsp;Studio</a>
                        <a href="#" class="list-group-item list-group-item-secondary list-group-item-action">Microsoft</a>
                    </ul>
                </div>

            </div>
        </div>

    </div>


{% endblock %}