{% extends 'layout/base.html' %}

{% load static %}

{% block title %} login {% endblock %}

{% block content %}

    <div class="col-md-9 test">
        <h1 class="h1 text-center headers mt-5">Log In</h1>

        <div class="border border-2 border-danger rounded p-3 mb-3">
            <strong>Sorry, wrong password!</strong>
        </div>

        <div class="border border-warning rounded p-3 shadow-sm">

            <div class="row">
            <div class="col-3 text-end">
                <div class="mb-5">Login:</div>
            </div>
            <div class="col">
                <input type="text" class="form-control mb-5" placeholder="Login" aria-label="Login" aria-describedby="basic-addon1">
            </div>
            </div>

            <div class="row">
            <div class="col-3 text-end">
                <div class="mb-5">Password:</div>
            </div>
            <div class="col">
                <input type="password" class="form-control mb-5" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            </div>

            <div class="row ms-5 me-5 text-center ">
            <button type="button" class="btn btn-primary btn-block mb-4">Log in</button>

          <!-- Register buttons -->

            <p>Not a member? <a href="{% url 'signup' %}">Register</a></p>
            </div>

        </div>
    </div>

{% endblock %}