{% extends "layout/base.html" %}
{% load i18n %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %} question {{ question.id }} {% endblock %}

{% block content %}

    <div class="col-md-9">
        <h1 class="h1 text-center headers mt-5">&nbsp;{% trans 'Question page' %}</h1>

        {% include 'Components/question_item_question.html' %}


         <h3 class="h3 text-center headers mt-5">{% trans 'Answers' %}</h3>
        <hr/>
        {% if not request.user.is_authenticated %}
            <div class="border border-warning rounded p-3">
            <h3 class="h4 text-center ">{% trans 'Please, authorize to add an answer!' %}</h3>
            </div>
            <div class="m-3 text-center">
                <a href="{% url 'login' %}?continue={{ request.path }}?{{ request.GET.urlencode }}">
                <button type="button" class="btn btn-outline-warning me-2 text-dark-emphasis">{% trans 'Login' %}</button></a>
                <span>&nbsp;</span>
                <a href="{% url 'signup' %}?continue={{ request.path }}?{{ request.GET.urlencode }}">
                <button type="button" class="btn btn-warning">{% trans 'Sign-up' %}</button></a>
            </div>
        {% endif %}

        {% for answer in items %}
            {% include 'Components/answer_item.html' %}
        {% endfor %}


        {% include 'Components/paginator.html' %}


        {% if request.user.is_authenticated %}
             <h3 class="h3 text-center headers mt-5">{% trans 'Your answer' %}</h3>
            <hr/>
             <div class="border border-warning rounded p-3 shadow-sm mb-5">

            <form method="post" >

                {% csrf_token %}

                <fieldset>
                    {% for field in form %}
                        <div class="row control-group {% if field.errors %}has-error{% endif %}">
                        <div class="col controls">
                            {% bootstrap_field field show_help=True show_label=False %}
                        </div>
                        </div>
                    {% endfor %}
                </fieldset>

            <div class="row ms-5 me-5 text-center">
                 <input type="submit" class="btn btn-primary btn-block " value="{% trans 'Answer!' %}"/>
            </div>

            </form>

        </div>
        {% endif %}


    </div>

   {% endblock %}