{% extends 'layout/base.html' %}
{% load i18n %}

{% load static %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %} edit {% endblock %}

{% block content %}

    <div class="col-md-9 test">
        <h1 class="h1 text-center headers mt-5">{% trans 'Settings' %}</h1>

        {% if messages %}
            <div class="border border-2 border-success rounded p-3 mb-3">
            {% for message in messages %}
                <strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
            {% endfor %}
            </div>
        {% endif %}

       {% for err in form.non_field_errors %}
        <div class="border border-2 border-danger rounded p-3 mb-3">
            <strong>{{ err }}</strong>
        </div>
        {% endfor %}

        <div class="border border-warning rounded p-3 shadow-sm mb-5">

            <form method="post" enctype="multipart/form-data">

                {% csrf_token %}

                <fieldset>
                    {% for field in form %}
                        <div class="row control-group {% if field.errors %}has-error{% endif %}">
                        <div class="col controls">
                            {% bootstrap_field field show_help=True %}
                        </div>
                        </div>
                    {% endfor %}
                </fieldset>

            <div>
                <img class="rounded w-75 mx-auto d-block mb-4 mt-2 " src="{{ request.user.profile.avatar.url }}" alt="Avatar" >
            </div>

            <div class="row ms-5 me-5 text-center ">
                 <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Save' %}"/>
            </div>

            </form>

        </div>
    </div>

{% endblock %}