{% extends 'layout/base.html' %}

{% load static %}

{% block title %} signup {% endblock %}

{% block content %}

    <div class="col-md-9 test">
        <h1 class="h1 text-center headers mt-5">Registration</h1>

        <div class="border border-2 border-danger rounded p-3 mb-3">
            <strong>Sorry, this email address already registered!</strong>
        </div>

        <div class="border border-warning rounded p-3">

            <div class="row">
            <div class="col-2 text-end">
                <div class="mb-5">Login:</div>
            </div>
            <div class="col">
                <input type="text" class="form-control mb-5" placeholder="Login" aria-label="Login" aria-describedby="basic-addon1">
            </div>
            </div>

            <div class="row">
            <div class="col-2 text-end">
                <div class="mb-5">Email:</div>
            </div>
            <div class="col">
                <input type="email" class="form-control mb-5" placeholder="example@mail.ru" aria-label="Email" aria-describedby="basic-addon1">
            </div>
            </div>

            <div class="row">
            <div class="col-2 text-end">
                <div class="mb-5">NickName:</div>
            </div>
            <div class="col">
                <input type="text" class="form-control mb-5" placeholder="NickName" aria-label="NickName" aria-describedby="basic-addon1">
            </div>
            </div>

            <div class="row">
            <div class="col-2 text-end">
                <div class="mb-5">Password:</div>
            </div>
            <div class="col">
                <input type="password" class="form-control mb-5" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            </div>

            <div class="row">
            <div class="col-2 text-end">
                <div class="mb-5">Repeat Password:</div>
            </div>
            <div class="col">
                <input type="password" class="form-control mb-5" placeholder="Password" aria-label="RepeatPassword" aria-describedby="basic-addon1">
            </div>
            </div>

            <div class="row">
            <div class="col-2 text-end">
                <div class="mb-5">Upload Avatar:</div>
            </div>
            <div class="col">
               <input type="file" class="form-control" id="inputGroupFile01" placeholder="Не выбран">
            </div>
            </div>

            <div class="row ms-5 me-5 text-center ">
            <button type="button" class="btn btn-primary btn-block mb-1">Register</button>
            </div>

        </div>
    </div>

{% endblock %}