{% extends './question-item.html' %}

{% block img %}src="{{ answer.author.avatar.url }}" title="{{ answer.author.user.first_name }}"{% endblock %}

{% block rating %}{{ answer.rating_count }}{% endblock %}

{% block right_answer %}

<div class="d-flex">
    <ul class="list-group list-group mt-3 mb-3 w-75 mx-auto justify-content-center">
        <li class="list-group-item list-group-item-success" {% if not belonging %} style="pointer-events: none;" {% endif %}>
            <input class="form-check-input list" type="checkbox" value="1" id="{{ forloop.counter }}Checkbox" {% if answer.correctness %}checked{% endif %} >
            <label class="form-check-label" for="{{ forloop.counter }}Checkbox">Right</label>
        </li>
    </ul>
</div>

{% endblock %}

{% block activity %}

<div class="anchor col-8 mt-3 d-flex align-items-center" id='{{ answer.pk }}'>
    <p>
        {{ answer.body }}
    </p>
</div>

{% endblock %}