{% extends './question-item.html' %}

{% block right_answer %}

<div class="d-flex">
    <ul class="list-group list-group mt-3 mb-3 w-75 mx-auto justify-content-center">
        <li class="list-group-item list-group-item-success">
            <input class="form-check-input list" type="checkbox" value="1" id="firstCheckbox" {% if answer.id == 5 %}checked{% endif %}>
            <label class="form-check-label" for="firstCheckbox">Right</label>
        </li>
    </ul>
</div>

{% endblock %}

{% block activity %}

<div class="col-8 mt-3 d-flex align-items-center">
    <p>
        {{ answer.text }}
    </p>
</div>

{% endblock %}