{% load static %}

{% block item %}

<div class="shadow-sm border border-warning rounded mt-5">
    <div class="row">
        <div class="col-2 m-3 d-grid gap-2 justify-content-center text-dark ">
            <img class="rounded w-100" src="{% static '/png/default-avatar.png' %}" alt="Avatar" >
            <button class="btn btn-outline-warning  mt-2" type="submit">
                <span class="text-dark text-start">Vote</span>
                <span class="badge bg-warning rounded-pill text-end">14</span>
            </button>
            {% block right_answer %}

            {% endblock %}
        </div>

        <div class="col mt-3">
            {% block activity %}

            {% endblock %}
        </div>

    </div>
</div>

{% endblock %}